<html>

<head>
    {% include "css.html" %}
    <title>{% block head_title %} {% endblock %}</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper brown darken-3">
                <a href="{% url 'blog:list' %}" class="brand-logo">Blog</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    {% for category in category_list %}
                    <li class="blog-category">
                        <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                    </li>
                    {% endfor %}
                    <li class="blog-category"><a href="{% url 'account_login' %}">Sign In</a></li>
                    <li class="blog-category"><a href="{% url 'account_signup' %}">Sign Up</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    {% for category in category_list %}
                    <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </header>
    <!-- <div class="progress">
        <div class="indeterminate"></div>
    </div> -->
    <main>
        <div class="container">
            {% block content %} {% endblock %}
            <div class="fixed-action-btn horizontal click-to-toggle">
                <a class="btn-floating btn-large amber accent-3">
                    <i class="material-icons">search</i>
                </a>
                <ul>
                    <li>
                        <a class="btn-floating amber accent-4" id="search-fab">
                            <div id="search-post">
                                <div class="input-field inline">
                                    <input id="email" type="email" class="validate">
                                    <label for="email" data-error="wrong" data-success="right"></label>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    {% include 'footer.html'%} {% include "js.html" %}
</body>

</html>
