<footer class="page-footer brown darken-2">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">Social Accounts</h5>
                <p class="grey-text text-lighten-4">
                    <ul id="social-icons">
                        <li class="social-link">
                            <span>
                                <i class="fa fa-facebook-f fa-2x" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li class="social-link">
                            <span>
                                <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li class="social-link">
                            <span>
                                <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                            </span>
                        </li>
                        <li class="social-link">
                            <span>
                                <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
                            </span>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col l7 offset l1 s12">
                <h5 class="white-text">Contact Details</h5>
                <ul>
                    <div class="row">
                        <div class="col m6 s12">
                            <li class="contact-name">
                                <a class="grey-text text-lighten-3" href="#!">Pranav Puri</a></li>
                            <div class="contact-details">
                                <ul>
                                    <li class="contact-attributes">
                                        <a class="grey-text text-lighten-3" href="#!">
                                            <span><i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                                                </span>: 8860270019</a>
                                    </li>
                                    <li class="contact-attributes">
                                        <a class="grey-text text-lighten-3" href="#!">
                                            <span><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                                                </span>: pranavpuri.p@hotmail.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col m6 s12">
                            <li class="contact-name">
                                <a class="grey-text text-lighten-3" href="#!">Ramankit Singh</a></li>
                            <div class="contact-details">
                                <ul>
                                    <li class="contact-attributes">
                                        <a class="grey-text text-lighten-3" href="#!">
                                            <span><i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                                                </span>: 8860270019</a>
                                    </li>
                                    <li class="contact-attributes">
                                        <a class="grey-text text-lighten-3" href="#!">
                                            <span><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                                                </span>: pranavpuri.p@hotmail.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Pranav Puri | KYBRDBND
            <a class="grey-text text-lighten-4 right" href="https://glacial-dusk-55638.herokuapp.com/" target="__blank">
                <span><i class="fa fa-spin fa-globe" aria-hidden="true"></i>
                        </span> www.glacial-dusk-55638.herokuapp.com
            </a>
        </div>
    </div>
</footer>
