 {% extends "base.html" %} {% block head_title %} Welcome {% endblock %} {% block content %}
<br>
<div class="row">
    {% for blog in blog_list %}
    <div class="col m12">
        <div class="card animated fadeInUp">
            <div class="card-content hoverable">
                <span class="card-title" id="blog-title">{{ blog.title|capfirst }}</span>
                <div class="blog-attributes">
                    <div class="blog-author">
                        <a href="{{blog.author.get_absolute_url}}">
                            <span>
                                       <i class="fa fa-user-o fa-2x" aria-hidden="true"></i>  
                                    </span>`
                            <span class="blog-author-name">{{blog.author}}</span>
                        </a>
                    </div>
                    <div class="blog-created">
                        <span>
                                        <i class="fa fa-calendar-o fa-2x" aria-hidden="true"></i>
                                    </span>
                        <span class="blog-created-date">{{blog.created}}</span>
                    </div>
                    <div class="blog-likes-dislikes">
                        <span><i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
                        <span class="blog-vote">
                        {{blog.likes_count}}</span>
                        </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span><i class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></i>
                        <span class="blog-vote">
                        {{blog.dislikes_count}}</span></span>
                    </div>
                    <div class="blog-comments">
                        <span><i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
                        </span>
                        <span class="blog-comment">
                            {{blog.comments_count}}
                        </span>
                    </div>
                </div>
                <div class="blog-content">
                    <p>
                        {{ blog.content|truncatewords:30 }}
                    </p>
                </div>
                <div class="row">
                    <div class="col m4">
                        <a class="waves-effect waves-light btn amber accent-4" href="{{ blog.get_absolute_url }}">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    <ul class="pagination">
        {% if blog_list.has_previous %}
        <li>
            <a href="?page={{ blog_list.previous_page_number }}">
                <i class="material-icons">chevron_left</i></a>
        </li>
        {% else %}
        <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a>
        </li>
        {% endif %} {% for num_page in blog_list.paginator.page_range %}
        <li class="wave-effect"><a href="?page={{ num_page }}">{{ num_page }}</a></li>
        {% endfor %} {% if blog_list.has_next %}
        <li>
            <a href="?page={{ blog_list.next_page_number }}">
                <i class="material-icons">chevron_right</i> </a>
        </li>
        {% else %}
        <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}
