{% extends "base.html" %} {% block head_title %} Category | {{ category.title }} {% endblock %} {% block content %}
<div id="breadcrumb">
    <div class="breadcrumb-item"><a href="{% url 'blog:list' %}">Home</a></div>
    <span><i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
    </span>
    <div class="breadcrumb-item"><a href="{{category.title.get_absolute_url}}">{{ category.title }}</a></div>
</div>
<div class="row">
    {% for post in posts %}
    <div class="col m6 s12">
        <div class="card hoverable category-card">
            <div class="card-content">
                <div id="category-card-view">
                    <div class="card-title" id="category-title">{{ post.title|capfirst }}</div>
                    <div class="category-attributes">
                        <div class="category-author">
                            <a href="{{post.author.get_absolute_url}}">
                                <span>
                               <i class="fa fa-user-o fa-2x" aria-hidden="true"></i>  
                            </span>
                                <span class="category-author-name">{{post.author}}</span>
                            </a>
                        </div>
                        <div class="category-created">
                            <span>
                                <i class="fa fa-calendar-o fa-2x" aria-hidden="true"></i>
                            </span>
                            <span class="category-created-date">{{post.created}}</span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col m12">
                            <a class="waves-effect waves-light btn amber accent-4" href="{{ post.get_absolute_url }}">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
