{% extends "base.html" %} {% block head_title %}Post | {{ instance.title|upper }}{% endblock %} {% block content %}
<div id="breadcrumb">
    <div class="breadcrumb-item"><a href="{% url 'blog:list' %}">Home</a></div>
    <span><i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i></span>
    <div class="breadcrumb-item">
        <a href="{{instance.category.get_absolute_url}}">{{ instance.category }}</a></div>
    <span><i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i></span>
    <div class="breadcrumb-item"><a href="#">{{instance.title|capfirst}}</a></div>
</div>
<div class="card">
    <div class="card-content hoverable">
        <div class="card-title" id="blog-title">{{ instance.title|capfirst }}</div>
        <div class="blog-attributes">
            <div class="blog-author">
                <a href="{{instance.author.get_absolute_url}}">
                    <span>
                                       <i class="fa fa-user-o fa-2x" aria-hidden="true"></i>  
                                    </span>
                    <span class="blog-author-name">{{instance.author}}</span>
                </a>
            </div>
            <div class="blog-created">
                <span>
                                        <i class="fa fa-calendar-o fa-2x" aria-hidden="true"></i>
                                    </span>
                <span class="blog-created-date">{{instance.created}}</span>
            </div>
            <div class="blog-likes-dislikes">
                <span><i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i>
                        <span class="blog-vote">
                        {{instance.likes_count}}</span>
                </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span><i class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></i>
                        <span class="blog-vote">
                        {{instance.dislikes_count}}</span></span>
            </div>
            <div class="blog-comments">
                <span><i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
                        </span>
                <span class="blog-comment">
                            {{instance.comments_count}}
                        </span>
            </div>
        </div>
        <div class="blog-content">
            <p>
                {{ instance.content}}
            </p>
        </div>
    </div>
</div>
<div class="post_comment">
    <ul class="collapsible popout" data-collapsible="accordion">
    {% for comment in instance.comments.all%}
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i> {{comment.given_by}}
        </div>
        <div class="collapsible-body"><span>{{comment.comment}}</span></div>
    </li>
    {% endfor%}
</ul>

</div>
<div class="post_comment_submit">
    <form action="" method='POST'>
        {% csrf_token%}
        <div class="row">
            <div class="input-field col m12">
                {{form.comment.errors}} {{form.comment}} {{form.comment.label_tag}}
            </div>
            <button class="waves-effect waves-light btn amber accent-4" action="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %} {% block extra_js%}
<script>
$(document).ready(function(){
   $('.collapsible').collapsible('open', 0);
});
</script>
{% endblock%}
