/*global css*/

p {
    font-weight: 300;
}


/*global ends*/


/*navbar */

.brand-logo {
    margin-left: 1.7em;
}

.blog-category {
    margin-right: 5em;
}


/*navbar ends*/


/*footer*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.container {
    width: 80%;
}

#search-fab {
    margin-top: -20px;
    height: 60px;
    width: 100%;
    border-radius: 10px;
}

#search-post {
    margin-top: -10px;
    margin-left: 15px;
    margin-right: 18px;
}

#social-icons {
    display: inline-flex;
    text-align: center;
}

.social-link {
    color: white;
    padding: 15px 15px 15px 15px;
    /*top right bottom left*/
}

.social-link:first-child {
    margin-left: -15px;
}

.fa-2x {
    font-size: 1.6em;
    width: 30px;
    height: 30px;
}

.social-link:hover {
    color: #5D4037;
    background-color: white;
    width: 100%;
    border-radius: 100%;
}

.contact-name {
    font-size: 1.3em;
    font-weight: 300;
}

.contact-details {
    font-size: 1em;
    font-weight: 300;
}

.contact-attributes {
    margin: .7em;
}

.contact-attributes .fa-2x {
    font-size: 1.3em;
}


/*footer ends*/


/*main page*/

#blog-title {
    margin-top: 0.15em;
    font-size: 10vh;
    white-space: pre-line;
    line-height: 70px;
    padding-right: 10px;
}

#blog-attributes {
    font-size: 0.85em;
    margin-top: 1.8em;
    margin-left: 1.6em;
    color: grey;
    position: relative;
}

#blog-author,
#blog-created {
    display: inline-block;
    margin-right: 4em
}

#blog-author > a {
    color: grey;
}

#blog-author-name,
#blog-created-date {
    margin-left: -0.7em;
    display: inline-block;
}

#blog-content {
    font-size: 5vh;
    color: #666666;
    line-height: 1.2em;
    margin-bottom: 0.938em;
    margin-top: 0.938em;
}

.post-title {
    font-size: 7em;
}
