/*footer*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.container {
    width: 80%;
}

#search-fab {
    margin-top: -20px;
    height: 60px;
    width: 100%;
    border-radius: 10px;
}

#search-post {
    margin-top: -10px;
    margin-left: 15px;
    margin-right: 18px;
}

#social-icons{
    display: inline-flex;
}

.social-link{
    margin-right: 2em;
    color: white;
    padding: 20px 20px 20px 20px;   /*top right bottom left*/
}
.fa-2x{
    font-size: 1em;
}

.social-link:hover{
    color: #5D4037;
    background-color: white;
    width: 100%;
    border-radius: 100%;
}
/*main page*/

#blog-title {
    margin-top: 0.15em;
    font-size: 10vh;
    white-space: pre-line;
    line-height: 70px;
    padding-right: 10px;
}

#blog-attributes {
    font-size: 0.85em;
    margin-top: 1.8em;
    margin-left: 1.6em;
    color: grey;
}

#blog-content {
    font-size: 5vh;
    color: #666666;
    line-height: 1.2em;
    margin-bottom: 0.938em;
    margin-top: 0.938em;
}

.post-title {
    font-size: 7em;
}
