/*global css*/

p {
    font-weight: 300;
}


/*global ends*/


/*breadcrumb start*/

#breadcrumb {
    margin: 1.5em;
    position: relative;
}

.breadcrumb-item {
    font-size: 1.6em;
    display: inline-block;
}

.breadcrumb-item {
    margin-right: 0.5em
}

.breadcrumb-item > a {
    color: black;
}

.breadcrumb-item:last-child > a {
    font-size: 2em;
    color: #663300;
}


/*breadcrumb ends*/


/*navbar */

.brand-logo {
    margin-left: 1.7em;
}

.blog-category {
    margin-right: 1em;
}


/*navbar ends*/


/*footer*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.container {
    width: 80%;
    /*overflow: ;*/
}

#search-fab {
    margin-top: -1.250em;
    height: 3.750em;
    width: 100%;
    border-radius: 0.625em;
}

#search-post {
    margin-top: -0.625em;
    margin-left: 0.938em;
    margin-right: 1.125em;
}

#social-icons {
    display: inline-flex;
    text-align: center;
}

.social-link {
    color: white;
    padding: 0.938em;
    /*top right bottom left*/
}

.fa-2x {
    font-size: 1.6em;
    width: 30px;
    height: 30px;
}

.social-link:hover {
    color: #5D4037;
    background-color: white;
    width: 100%;
    border-radius: 100%;
}

.contact-name {
    font-size: 1.3em;
    font-weight: 300;
}

.contact-details {
    font-size: 1em;
    font-weight: 300;
}

.contact-attributes {
    margin: .7em;
}

.contact-attributes .fa-2x {
    font-size: 1.3em;
}


/*footer ends*/


/*main page*/

#blog-title {
    margin-top: 0.15em;
    font-size: 4em;
    white-space: pre-line;
    line-height: 1em;
    padding-right: 0.625em;
}

.blog-attributes {
    font-size: 0.85em;
    margin-top: 1.8em;
    margin-left: 1.6em;
    color: grey;
    position: relative;
}

.blog-author,
.blog-created,
.blog-likes-dislikes,
.blog-comments {
    display: inline-block;
    margin-right: 4em
}

.blog-author > a {
    color: grey;
}

.blog-author-name,
.blog-created-date,
.blog-vote,
.blog-comment {
    margin-left: -0.7em;
    /* display: inline-block;*/
}

.blog-content {
    font-size: 2em;
    color: #666666;
    line-height: 1.2em;
    margin-bottom: 0.938em;
    margin-top: 0.938em;
}

.post-title {
    font-size: 7em;
}


/*category view*/

.category-card {
    height: 25em;
    text-align: center;
}

.category-card:hover {
    background-color: #4E342E;
    /*opacity: .9;*/
    color: white;
    transition: linear .3s;
}

#category-card-view {
    margin-top: 3em;
}

#category-title {
    margin-top: 0.15em;
    font-size: 3em;
    white-space: pre-line;
    padding-right: 0.625em;
}

.category-card:hover .category-attributes,
.category-card:hover .category-author > a {
    color: white;
}

.category-attributes {
    font-size: 0.85em;
    margin-top: 1.8em;
    margin-left: 1.6em;
    color: grey;
    position: relative;
}

.category-author,
.category-created {
    display: inline-block;
    margin-right: 3em;
    margin-left: 3em;
}

.category-author > a {
    color: grey;
}

.category-author-name,
.category-created-date {
    margin-left: -0.2em;
    display: inline-block;
}


/*category view ends*/


/*author view starts*/

.author-card {
    height: 25em;
    text-align: center;
}

.author-card:hover {
    background-color: #4E342E;
    /*opacity: .9;*/
    color: white;
    transition: linear .3s;
}

#author-card-view {
    margin-top: 3em;
}

#author-title {
    margin-top: 0.15em;
    font-size: 3em;
    white-space: pre-line;
    padding-right: 0.625em;
}

.author-attributes {
    font-size: 0.85em;
    margin-top: 1.8em;
    margin-left: 1.6em;
    color: grey;
    position: relative;
}

.author-created {
    display: inline-block;
    margin-right: 3em;
    /*margin-left: 3em;*/
}

.author-created-date {
    margin-left: -0.2em;
    display: inline-block;
}


/*author view ends*/
